<% include ../../../partials/manageHeader %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Edit Comment</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">-->
                        <!--    Student Enroll Form-->
                        <!--</div>-->
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" action="/manage/note/event/<%=event._id%>?_method=PUT" method="POST">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <p><%=event.student.name%></p>
                                            <p><%=event.eventType%></p>
                                            <p><%=event.time%></p>
                                        </div>
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <textarea class="form-control" rows="5" name="comment" value="<%=event.comment%>"><%=event.comment%></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" name="commenter" value="<%= currentUser.username %>">
                                    <input type="hidden" name="eventFlag" value="<%= eventFlag %>">
                                    <input type="hidden" name="referer" value="<%= referer %>">
                                    <button type="submit" class="btn btn-primary">Submit Button</button>
                                </form>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

<% include ../../../partials/manageFooter %>